@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  min-height: 100vh;
  box-sizing: border-box;
  /* font-family: 'Space Mono', sans-serif; */
  letter-spacing: -0.15em;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */