
version: '3.7'
services:
  mongo:
    image: mongo
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: hadassa
      MONGO_INITDB_ROOT_PASSWORD: boilerplate
    ports:
      - "27023:27018"