* {
    text-align: center;
    font-family: Sono;
}

h1 {
    color: ;
    background-color: ;
    font-size: 2em;
    font-family: Roboto Mono;
    padding-bottom: 100px;
}

h2 {
    font-size: 16px;
    font-weight: normal;
}

body {
    background-color: rgb(184, 187, 174);
    font-size: 12px;
}



nav {
    display: flexbox;
    text-align: center;
    font-size: .5em;
    border: 0px groove pink;
    padding: 3rem;
    background-color: ;
}

li::before {
    content: "_ ";
}
li::after {
    content: " _";
}

h2 ~ ul {
    font-style:;
}
dialog {
    background-color: rgb(210, 177, 214);
    color: rgb(0, 0, 0);
    border: 0px;
}

option {
    font-weight: ;
}

a {
    text-decoration: ;
    color: rgb(0, 0, 0);
}

button {
    padding: 10px;
    border: 0px;
}
a:hover,button:hover {
    background-color: rgb(255, 125, 19);
}